#linkVisit {
    margin-top: 8%;
}
#projects {
    margin-top: -100px;
}

.highlight {
    color: #28EEAA;
}

#logo {
    display: inline-block; 
    margin-right: 10px;
}

.intro-text { 
    font-family: 'Montserrat-light';
    letter-spacing: 3px;
}

#noLink {
    margin-top: 8%;
}

#noLink:hover {
    cursor: not-allowed;
}

#heart {
    color: red;
}

#footer {
    margin-top: 10%;
}
#footerText1 {
    float: left;
}
#footerText2 {
    float: right;
}
.projectTitle {
    font-family: 'Montserrat-light';
}

#project1 {
    margin-right: 47px;
    float: left;
}

#project2 {
    margin-left: 47px;
    float: right;
}

#project3 {
    margin-right: 47px;
    float: left;
}

#project4 {
    margin-left: 47px;
    float: right;
}

.projectImg {
    width: 50%;
    border-radius: 3px;
    filter: drop-shadow(0px 0px 30px white);
}

.separate {
    border-color: #4c4c4c;
    width: 70%;
    margin-top: 25%;
    margin-bottom: 25%;
}   

.brand-heading {
    letter-spacing: 8px;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.social {
  z-index: 1000;
  left: -40px;
  list-style-type: none;
  width: 200px;
  height: 220px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  perspective: 1000px
}

.social li a {
  display: block;
  height: 40px;
  width: 40px;
  background: #222;
  border-bottom: 1px solid #333;
  font: normal normal normal
  16px/20px 
  'FontAwesome', 'Source Sans Pro', Helvetica, Arial, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  transition: background .5s ease .300ms
}

.social li:first-child a:hover { background: #064368 }
.social li:nth-child(2) a:hover { background: #0077b5 }
.social li:nth-child(3) a:hover { background: #00acee }
.social li:nth-child(4) a:hover { background: #48C2F1 }

.social li:first-child a { border-radius: 0 5px 0 0 }
.social li:last-child a { border-radius: 0 0 5px 0 }
    
.social li a span {
  width: 100px;
  float: left;
  text-align: center;
  background: #222;
  color: #fff;
  margin: -25px 74px;
  padding: 8px;
  transform-origin: 0;
  visibility: hidden;
  opacity: 0;
  transform: rotateY(45deg);
  border-radius: 5px;
  transition: all .5s ease .300ms
}

.social li span:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: -20px;
  top: 7px;
  border-left: 10px solid transparent;
  border-right: 10px solid #222;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}

.social li a:hover span {
  visibility: visible;
  opacity: 1;
  transform: rotateY(0)
}